<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Signup</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="example-form" autocomplete="off" ngNativeValidate>
      <mat-form-field class="example-full-width">
        <input type="email" matInput placeholder="Email" [(ngModel)]="user.email" name="email" required
          autocomplete="off">
      </mat-form-field>
      <br>
      <mat-form-field class="example-full-width">
        <input type="password" matInput placeholder="Password" [(ngModel)]="user.password" name="password" required
          autocomplete="off">
      </mat-form-field>
    </form>
  </mat-card-content>
  <div *ngIf="errorMessage">
    <div class="alert alert-danger" role="alert">
      {{ errorMessage }}
    </div>
  </div>
  <mat-card-actions class="d-flex">
    <button mat-raised-button (click)="onSubmit()" color="primary">Submit</button>
    <span class="example-spacer"></span>
    <button mat-raised-button [routerLink]="['/login']" color="secondary">Login</button>
    <button mat-raised-button [routerLink]="['/']" color="warn">Cancel</button>
  </mat-card-actions>
</mat-card>
